<table class="table table-bordered table-dark ml-4">
    <tr class="bg-secondary">
        <th>
            Book ID
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Check Out
        </th>
    </tr>
</table>
