@model DashboardModel

<h2 class="text-light">Dashboard</h2>
<br />

<!-- Nav tabs -->
<ul class="nav nav-tabs table-borderless">
    <li class="nav-item">
        <a class="nav-link active btn-secondary" data-bs-toggle="tab" href="#home">My Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-secondary" data-bs-toggle="tab" href="#menu1">Profile</a>
    </li>
</ul>
<br />
<br />
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="home">
        <partial name="_CheckedOutBooksPartial" />
    </div>
    <div class="tab-pane container fade" id="menu1">
        <partial name="_ProfilePartial" />
    </div>
</div>